
services:
  mariadb:
    build: ./requirements/mariadb
    volumes:
     - wordpressDB:/home/ggasset-/data/db/
    networks:
     - docker-network
    expose:
     - "3306:3306"
    restart: on-failure:3

  wordpress:
    build: ./requirements/wordpress
    volumes:
     - website_files:/home/ggasset-/data/web_files
    expose:
     - "3306:3306"
     - "9000:9000"
    restart: on-failure:3

  nginx:
    build: ./requirements/nginx
    volumes:
     - website_files:/home/ggasset-/data/web_files
    networks:
     - docker-network
     - www
    expose:
     - "9000:9000"
    ports:
     - target: "443"
       published: "443"

    restart: on-failure:3


volumes:
  wordpressDB:
  website_files:

networks:
  www: {}
  docker-network:
    internal: true
